<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.athena.mobiledemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/athena_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/athena_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileDemo">
        <activity
            android:name=".DNNConfig"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DNNActivity"
            android:parentActivityName=".DNNConfig"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectiveConfig"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectiveInstruction"
            android:parentActivityName=".SubjectiveConfig"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SubjectiveActivity"
            android:parentActivityName=".SubjectiveInstruction"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABRActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>