<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.athena.mobiledemo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!--    Keep screen on-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/athena_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/athena_logo_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.MobileDemo">

        <activity
            android:name=".ABRActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SubjectiveActivity"
            android:screenOrientation="landscape"
            android:parentActivityName=".SubjectiveInstruction" />
        <activity
            android:name=".DNNActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SubjectiveInstruction"
            android:screenOrientation="landscape"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>